# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Use four space indentation for go files
[*.go]
indent_style = space
indent_size = 4

# ... and two space indentation for yml and graphql
[*.{yml,graphql}]
indent_style = space
indent_size = 2
